/* userUtilityCompo.css */
.slds-table {
    width: 100%; /* Full width tables */
    max-width: 100%; /* Handling large tables */
    margin-bottom: 1rem; /* Spacing below the table */
}

.slds-table th {
    background-color: #f4f6f9; /* Light background for headers */
    color: #163c75; /* Dark text for headers */
}

.slds-table td, .slds-table th {
    padding: 0.5rem; /* Padding within cells */
    border: 1px solid #dddbda; /* Borders for cells */
}


.slds-hint-parent:hover {
    background-color: #f3f2f2; /* Hover effect for rows */
}
.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload label {
    /* Add your custom styles here */
    cursor: pointer;
}